# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Sandbox artifacts
sandbox/modules/*/.venv/
